body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efdcdc;
    align-items: center;
}

nav {
    background-color: #070941;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .logo a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar li a:hover {
    background-color: #0056b3;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #1f0768;
    color: white;
    transition: background-color 0.3s;
    display: flex;
    margin-top: 30px;
}

.container {
    background-color: #ffffff;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(6, 2, 48, 0.329);
    margin-top: 100px;
    padding: 50px;
}

.container h1 {
    color: #070941;
    font-size: 25px;
}

.container strong {
    color: #070941;
    font-size: 18px;
}

.btn {
    display: flex;
    justify-content: space-between;
}