body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efdcdc;
    align-items: center;
}

nav {
    background-color: #070941;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .logo a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar li a:hover {
    background-color: #0056b3;
}

.overview {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.action {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.action h3 {
    margin-top: 0;
}
button{
    border: none;
    background-color: rgb(79, 7, 137);
    color: white;
    font-size: 30px;
    margin-left: 42%;
    margin-top: 50px;
    padding: 8px 8px;
    border-radius: 5px 5px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    /* font-size: 1rem; */
    transition: background-color 0.3s ease;
    
}

.btn:hover {
    background-color: #45a049;
    cursor: pointer;
}

button:hover {
    background-color: rgb(201, 69, 69);
    cursor: pointer;
}